nav {
	float: right;
	width: 60%;
	margin-top: -0.8%;
	margin-left: 20%;
}

nav ul {
	list-style: none;
	overflow: hidden;
	text-align: right;
	float: right;
}

nav ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
}

nav ul a {
	font-size: 1.5rem;
	text-decoration-line: none;
}

.nav {
	color: #EB0768;
	text-decoration: none;
	font-weight: 700;
}

.nav:hover {
	color: skyblue;
	transition: 0.6s ease;
	text-decoration-line: none;
}

.logo {
	width: 10%;
	margin-top: -2.5%;
	margin-left: -9%;
}