<header class="main_h">
  <div class="row">
    <img class="logo" src="./assets/images/logo.png" alt="Logo" width="15%" height="15%">
    <nav>
      <ul>
        <li><a routerLink="" class="nav">Home</a></li>
        <li><a routerLink="/aboutus" class="nav">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>