<br><br><br><br><br>
<div class="container">
  <li><a routerLink="" class="nav">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back to Home</a></li>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <br>
        <img class="card-img-top img" src="./assets/images/philip.jpg" alt="Card image">
        <div class="card-body">
          <h3 class="card-title">Philip Bautista</h3>
          <p class="card-text">"Study now, biga later."</p>
          <a href="https://www.facebook.com/wizardddddd" target="_blank" class="btn btn-info btn-sm">See
            Profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <br>
        <img class="card-img-top img" src="./assets/images/vannessa.jpg" alt="Card image">
        <div class="card-body">
          <h3 class="card-title">Vannessa Pasa-an</h3>
          <p class="card-text">"Be yourself."</p>
          <a href="https://www.facebook.com/vanessa.pasaan" target="_blank" class="btn btn-info btn-sm">See
            Profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <br>
        <img class="card-img-top img" src="./assets/images/tel.jpg" alt="Card image">
        <div class="card-body">
          <h3 class="card-title">Cristel Repuela</h3>
          <p class="card-text">"Work on you, for you."</p>
          <a href="https://www.facebook.com/cristel.ortega.1069" target="_blank" class="btn btn-info btn-sm">See
            Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>