.img {
	width: 75%;
	margin-left: 12%;
	margin-top: 5%;
	border-radius: 100%;
}

.card {
	width: 35rem;
	height: 50rem;
	margin-top: 10%;
	border-color: #888888;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.46);
	-moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.46);
	box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.46);
}

table td {
	padding: 20px 20px;
}

.card-body {
	text-align: center;
}

.mark {
	width: 30px;
}

a {
	font-weight: 100;
	background: transparent;
	color: #888888;
	border-color: #888888;
	width: 40%;
}

img:hover {
	opacity: 0.7;
	transition: 0.5s ease;
}

.nav {
	color: #EB0768;
	text-decoration: none;
	font-weight: 700;
}

.nav:hover {
    color: skyblue;
	transition: 0.6s ease;
	text-decoration-line: none;
}

li {
	list-style-type: none;
}