.main_h {
	position: fixed;
	top: 0px;
	max-height: 70px;
	z-index: 999;
	width: 100%;
	padding-top: 17px;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 1;
	top: -100px;
	padding-bottom: 6px;
	font-family: "Raleway", sans-serif;
	padding-left: 20%;
}

.sticky {
	background-color: rgba(255, 255, 255, 0.93);
	opacity: 1;
	top: 0px;
	border-bottom: 1px solid #dcdcdc;
}

/* .row {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	position: relative;
	padding: 0 2%;
} */

* {
	box-sizing: border-box;
}

body {
	color: #8f8f8f;
	background: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 30px;
	line-height: 1.8;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	text-shadow: #8f8f8f;
}

p {
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 2;
}

.content {
	padding: 30% 2% 20%;
	height: 100%;
}

.div-top {
	margin-top: -40%;
}

.main-landing {
	position: relative;
	background: url(./assets/images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	color: #fff;
	padding-top: 50%;
	min-height: 100%;
	letter-spacing: 2px;
	font-family: "Montserrat", sans-serif;
	height: 100%;
	/* margin-left: 0.5%;
	margin-right: 0.5%; */
}

.main-landing h1 {
	font-size: 5.5rem;
	line-height: 1.3;
	text-shadow: 3px 3px 10px black;
	margin-top: 2%;
}

span {
	font-size: 3.5rem;
	font-weight: 500;
	/* color: #EB0768; */
	color: #EB0768;
	border-bottom: 1px solid #EB0768;
	padding-bottom: 5px;
	line-height: 2;
}

.mouse {
	display: block;
	margin: 0 auto;
	width: 26px;
	height: 46px;
	border-radius: 13px;
	border: 2px solid #EB0768;
	position: absolute;
	bottom: 40px;
	position: absolute;
	left: 50%;
	margin-left: -26px;
}


/* mouse scroll button */

.mouse span {
	display: block;
	margin: 6px auto;
	width: 2px;
	height: 2px;
	border-radius: 4px;
	background: #EB0768;
	border: 1px solid transparent;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	animation-name: scroll;
}

@-webkit-keyframes scroll {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}
}

.welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	margin-top: -3.5%;
	width: 15%;
}



.btn {
	border: 1px solid #fff;
	padding: 6px 10px;
	transition: 0.4s ease;
	text-decoration: none;
	color: #fff;
	font-family: "Trebuchet MS";
}

.number {
	width: 10%;
	text-align: center;
}

.name {
	width: 30%;
	text-align: center;
}

.timeout {
	float: right;
}

.date,
.in,
.out,
.delete,
.remove {
	width: 15%;
	text-align: center;
}

.title {
	display: inline-block;
}

.timein-button {
	float: right;
}

.btn-for-table {
	text-align: center;
}

.center {
	text-align: center
}

.display-input {
	width: 40%;
	float: right;
	margin-top: 2%;
}

.option-button {
	width: 50%;
	text-align: center;
}

.table-history {
	width: 12%;
}

.display {
	display: inline-block;
	width: 100%;
}