<div class="main-landing">
  <div class="welcome">
    <span>Welcome!</span><br>
    <h1>Daily Time Record</h1>
  </div>
  <div class="mouse">
    <span></span>
  </div>
</div>
<div class="container content">
  <br><br><br>
  <div class="div-top">
    <div class="input-table">
      <h2 class="title">Daily Time Record</h2>
      <form *ngIf="formView" #fullName="ngForm" (ngSubmit)="timeIn(fullName.value)" class="display-input">
        <input placeholder="First Name" class="form-control" ngModel name="lname"
          style="width: 40%; display: inline-block; margin-top: -2%;">
        <input placeholder="Last Name" class="form-control" ngModel name="fname"
          style="width: 40%; display: inline-block; margin-left: 1%; margin-top: -2%;">
        <input class="btn btn-info button timein-button" type="submit" value="Time In" style="margin-top: -1.5%;">
      </form>
      <br><br>
      <table class="table table-bordered table-lg">
        <thead class="thead-dark">
          <th class="number">Entry No</th>
          <th class="name">Name</th>
          <th class="date">Date</th>
          <th class="in">Time In</th>
          <th class="out">Time Out</th>
          <th *ngIf="removeTD" class="delete">Delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let person of people; let i = index">
            <td class="center">{{i+1}}</td>
            <td class="text-capitalize center">{{person.name}}</td>
            <td class="center">{{person.date}}</td>
            <td class="center">{{person.timein}}</td>
            <td *ngIf="person.timeout == '0:00'" class="btn-for-table center">
              <input type="button" class="btn btn-sm btn-info option-button" (click)="timeOut(i)"
                value="Time Out">&nbsp;
            </td>
            <td class="center" *ngIf="person.timeout != '0:00'">
              {{person.timeout}} &nbsp;
            </td>
            <td *ngIf="removeTD">
              <input type="button" class="btn btn-sm btn-danger option-button" (click)="remove(i)" value="Delete"
                style="margin-left: 25%;">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="display btn-group">
        <input *ngIf="saveRecordVisible" type="button" class="btn btn-info table-history" (click)="saveRecord()"
          value="Save Record">
        <input *ngIf="newRecordVisible" type="button" class="btn btn-info table-history" (click)="newRecord()"
          value="New Record">
        <input *ngIf="savedTableButtonVisible" type="button" class="btn btn-primary table-history"
          value="See Records" (click)="showTable()">
        <input *ngIf="hideTableButtonVisible" type="button" class="btn btn-warning table-history"
          value="Hide Records" (click)="hideTable()">
      </div>
      <br><br><br>
      <div *ngIf="savedTableVisible">
        <h2 class="title">Saved Records</h2><br><br>
        <table class="table table-bordered table-lg" *ngFor="let save of saved; let i =index">
          <thead class="thead-light">
            <th class="number">Entry No</th>
            <th class="name">Name</th>
            <th class="date">Date</th>
            <th class="in">Time In</th>
            <th class="out">Time Out</th>
          </thead>
          <tbody>
            <tr *ngFor="let save of saved[i]; let i =index">
              <td class="center">{{i+1}}</td>
              <td class="text-capitalize center">{{save.name}}</td>
              <td class="center">{{save.date}}</td>
              <td class="center">{{save.timein}}</td>
              <td class="center">{{save.timeout}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>